*body {
    background-color: #ab0f0f;
}
* {
  box-sizing:border-box;
}

h1 {
    font-family: "Times New Roman"; // шрифт
    text-transform: uppercase; // курсив
    font-size: 11pt; // размер текста
 font-weight: normal;
 color: white; // цвет текста
 background: #86a8e7; // цвет фона
 height: 60px; // высота длина элемента
 width:30%; // ширина элемента
 padding: 10px 30px;
 text-align: center; // текст в элементе посередине
 display:block;
 position: relative;
 border: 1px solid white;
 margin:0 auto; // отцентрирует блок по центру родительского элемента
}
